%tr
  %td= borrower.first_name
  %td= borrower.family_name
  %td= borrower.email
  %td
    %span.popover-trigger{data: {trigger: :hover, content: popover_content(borrower.movies_list)}, title: 'Lend movies'}
      = borrower.movies.length
  %td
    .btn-group.pull-right
      = icon_link borrower, :'zoom-in', class: 'btn'
      = icon_link edit_borrower_path(borrower), :edit, class: 'btn'
      = icon_link borrower, :remove, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn'

