%tr
  %td= borrower.first_name
  %td= borrower.family_name
  %td= borrower.email
  %td= link_to 'Edit', edit_borrower_path(borrower)
  %td= link_to 'Destroy', borrower, method: :delete, data: { confirm: 'Are you sure?' }

