%h1 Listing borrowers

%table
  %tr
    %th First name
    %th Family name
    %th Email
    %th
    %th
    %th

  - @borrowers.each do |borrower|
    %tr
      %td= borrower.first_name
      %td= borrower.family_name
      %td= borrower.email
      %td= link_to 'Show', borrower
      %td= link_to 'Edit', edit_borrower_path(borrower)
      %td= link_to 'Destroy', borrower, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Borrower', new_borrower_path
