%h1
  Listing borrowers
  %small.pull-right
    = link_to content_tag(:i, ' New', class: 'icon-plus'), new_borrower_path, class: 'btn'

%table.table.table-striped
  %thead
    %tr
      %th= Borrower.human_attribute_name(:first_name)
      %th= Borrower.human_attribute_name(:family_name)
      %th= Borrower.human_attribute_name(:email)
      %th= Borrower.human_attribute_name(:movies)
      %th

  %tbody
    = render @borrowers
