%p#notice= notice

%p
  %b First name:
  = @borrower.first_name
%p
  %b Family name:
  = @borrower.family_name
%p
  %b Email:
  = @borrower.email

= link_to 'Edit', edit_borrower_path(@borrower)
\|
= link_to 'Back', borrowers_path
