.row
  .two.columns.text-center
    %img{src: 'http://www.placehold.it/100x150', alt: "#{movie.title}"}
  .ten.columns
    %h3
      = link_to movie.title, movie
      %small
        %span= movie.disc_number
        %span= movie.watched
    %span= movie.description
