- model_class = Movie
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

.row
  .span10
    = form_tag movies_path, method: :get do
      = text_field_tag :query, params[:query], placeholder: 'Filter movies', autofocus: 'autofocus', 'data-observe-multiple' => :movie, 'data-observe-target' => :movies
  .span2
    = link_to 'New Movie', new_movie_path, class: [:btn, 'btn-primary']

= template_include_tag 'movie'
#movies
  = render @movies
