- model_class = Movie

.page-header
  %h1
    = @movie.title
    %small= @movie.tagline

.row
  .span2= image_tag @movie.image, class: 'img-polaroid'
  .span10
    .row
      .span2= model_class.human_attribute_name(:disc_number)
      .span2= @movie.disc_number
      .span6= @movie.watched
    .row
      .span10= @movie.overview

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), movies_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_movie_path(@movie), :class => 'btn'
  = link_to t('.auto_update_movie'), auto_update_movie_path(@movie), class: 'btn', method: 'put'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), movie_path(@movie), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
