- model_class = Movie

.page-header
  %h1
    = @movie.title
    %small= @movie.tagline

.row
  .span2= image_tag @movie.image, class: 'img-polaroid'
  .span10
    .row
      .span2= model_class.human_attribute_name(:disc_number)
      .span2= @movie.disc_number
      .span6
        - if can? :manage, @movie
          %a.data-toggler{href: '#', data: {:'toggle-target' => 'toggle_watched'}}
            %i.icon-check.toggle_watched{class: (@movie.watched?.to_s)}
            %i.icon-check-empty.toggle_watched{class: (!@movie.watched?.to_s)}
            = model_class.human_attribute_name(:watched)
    - if can? :manage, @movie
      .row
        .span2= model_class.human_attribute_name(:borrower)
        .span8
          - if @movie.borrower
            = @movie.borrower.title_value
    .row
      .span10= @movie.overview

- if can? :manage, @movie
  #loan-modal.modal.hide.fade
    .modal-header
      %button.close{type: :button, :'data-dismiss' => :modal, :'aria-hidden' => true} &times;
      %h3= t('.lend.title', title: @movie.title)

    = simple_form_for(@movie, :html => { :class => 'form-horizontal' }, remote: true) do |f|
      .modal-body
        #error_explanation
        .input-append
          = f.input :borrower, wrapper: :append do
            = f.hidden_field :borrower_id
            = text_field :other, :borrower_selection, autocomplete: :off, data: {:'typeahead-url' => borrowers_path(:json), :'typeahead-target' => :movie_borrower_id}
            %a.add-on{href: new_borrower_path}
              %i.icon-plus
      .modal-footer
        %a.btn{:'data-dismiss' => :modal, :'aria-hidden' => true}= t('.lend.cancel')
        = f.button :submit, class: 'btn btn-primary'

  .form-actions
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_movie_path(@movie), :class => 'btn btn-primary'
    = link_to t('.auto_update_movie'), auto_update_movie_path(@movie), class: 'btn btn-warning', method: 'put'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), movie_path(@movie), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
    - unless @movie.borrower
      = link_to t('.lend.link'), '#loan-modal', :'data-toggle' => 'modal', class: 'btn btn-primary'
    - else
      = link_to t('.lend.remove'), returned_movie_path(@movie), class: 'btn btn-primary', method: :put
