= template_include_tag 'movie_preview_title'
= template_include_tag 'movie_preview'

.row-fluid
  .span12
    = form_tag tmdb_movie_search_index_path do
      = text_field_tag :title, params[:title], placeholder: 'Movie title', autocomplete: 'off', 'data-observe-multiple' => :moviePreviewTitle, 'data-observe-target' => :movie_search

.row-fluid
  .span12
    %h2 Results
    #placeholder Nothing searched, yet
    #spinner.hide
      .progress.progress-striped.active
        .bar{style: 'width: 100%'} Searching for movies

    = form_for Movie.new do
      #movie_search.accordion

