%h1 Listing loans

%table
  %tr
    %th Borrower
    %th Movie
    %th
    %th
    %th

  - @loans.each do |loan|
    %tr
      %td= loan.borrower
      %td= loan.movie
      %td= link_to 'Show', loan
      %td= link_to 'Edit', edit_loan_path(loan)
      %td= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Loan', new_loan_path
