!!! 5
%head
  %title Moviez
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
%body
.container
  .row
    .twelve.columns
      %ul.nav-bar.top-bar
        %li= link_to 'Moviezzz', movies_path
        %li= link_to 'About', '/about'

.container
  .row
    .twelve.columns
      - [:alert, :success, :info].each do |msg_type|
        .alert-box{class: msg_type}
          %a.close{href: '#'} &times
          %span= flash[msg_type]

.container
  .row
    .twelve.columns
      = yield
